.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    padding-top: 60px;
    border-color: blueviolet;
    border-width: 50emm;
    }
  
  .sidenav a {
    padding: 30px 25px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(141, 33, 241, 0.899);
    display: block;
    padding-left:0.1em;
    margin-top:4.0em;
  }
  
  .sidenav a:hover {
    background-color: #5a0080;
    size: 5%;
  }
  
  body {
    background-color: rgb(9, 9, 9);
  }