/* ===================================== Import other CSS ================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);

@import url(form.css);
@import url(button.css);
@import url(logo.css);
@import url(card.css);
@import url(navbar.css);
@import url(profile.css)
/* @import url(bootstrap.min.css); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.bg-image {
  /* background: url(../images/postbg.jpg); */
  background: url(../images/postbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
  color: #a09c9c;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
}
.bg-post {
  background-color: white;
}

/* ===================================== Basic CSS ==================================== */
